<%= form_with(model: @send) do |form| %>
  <% if @send.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@send.errors.count, "error") %> prohibited this @send from being saved:</h2>

      <ul>
      <% @send.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :tracking_code %>
    <%= form.text_field :tracking_code %>
  </div>

  <div class="field">
    <%= form.label :send_flag %>
    <%= form.check_box :send_flag %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
