<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @send.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @send.name %>
</p>

<p>
  <strong>TrackingCode:</strong>
  <%= @send.tracking_code %>
</p>

<p>
  <strong>SendFlag:</strong>
  <%= @send.send_flag %>
</p>

<p>
  <strong>SendAt:</strong>
  <%= @send.send_at %>
</p>

<%= link_to 'Edit', edit_send_path(@send) %> |
<%= link_to 'Back', sends_path %>
